* {
    box-sizing: border-box;
}

:root {
    /* Colors */
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(227, 50%, 73%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsla(0, 0%, 100%, 0.68);
    --neutral-0: hsl(200, 60%, 99%);
    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);
    /* Gradient */
    --light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

    /* Typography */
    --p-size: 16px;

    --box-shadow: var(--neutral-600) 0 0 .2rem;
}

@font-face {
    font-face-name: Noto Sans;
    src: url("public/fonts/NotoSans-VariableFont_wdth,wght.ttf");
}

html {
    font-family: Noto Sans, sans-serif;
    font-size: var(--p-size);
    padding: 0;
    margin: 0;
    max-width: 100vw;
    background-color: transparent;
}

body {
    max-width: 95%;
    max-height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-200);
    transition: background-color ease .4s;
}
body.dark-mode {
    background: var(--dark-gradient);
    color: var(--neutral-0);
}

header {
    width: 100%;
    background-color: var(--neutral-100);
    border-radius: .5rem;
    padding: .5rem .6rem;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dark-mode header{
    background-color: var(--neutral-800);
}

.dark-mode-toggle {
    appearance: none;
    border: 0;
    background-color: var(--neutral-300);
    padding: .6rem;
    border-radius: .3rem;
    cursor: pointer;
    transition: background-color ease .4s;
}
.dark-mode .dark-mode-toggle{
    background-color: var(--neutral-700);
}
.dark-mode-toggle:hover{
    background-color: #acabab;
}
.dark-mode .dark-mode-toggle:hover{
    background-color: var(--neutral-600);
}

.filtering-container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filtering-container h1 {
    font-size: 2rem;
    flex-grow: 1;
}

@media (max-width: 400px) {
    .filtering-container h1 {
    text-align: center;
    }
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.filter {
    cursor: pointer;
    appearance: none;
    width: auto;
    height: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 1.3rem;
    padding:1.2rem 1.3rem;
    background-color: var(--neutral-0);
    border: 0;
    font-size: 1rem;
    transition: background-color ease .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dark-mode .filter{
    background-color: var(--neutral-700);
    color: var(--neutral-0);
}

.filter:hover:not(.active-filter){
    background-color: var(--neutral-100);
    color: black;
}

.dark-mode .filter:hover:not(.active-filter){
    background-color: var(--neutral-600);
    color: var(--neutral-0);
}

.filter.active-filter:hover{
    background-color: #ae1c16;
    color: var(--neutral-100);
}


.dark-mode .filter.active-filter:hover{
    background-color: #dc4842;
}

.dark-mode .filter:active,
.dark-mode .filter:focus,
.dark-mode .active-filter,
.filter:active,
.filter:focus,
.active-filter {
    background-color: var(--red-700);
    color: var(--neutral-100);
}

.extensions-container {
    width: 100%;
    height: 100%;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 1rem;
}

.extension-content {
    box-shadow: var(--box-shadow);
    background-color: var(--neutral-100);
    padding: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    height: 12rem;
}

.dark-mode .extension-content {
    background-color: var(--neutral-800);
}

.extension-info-container {
    display: flex;
    align-items: start;
    margin: 0;
    gap: 1rem;
}

.extension-text-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}

.extension-title {
    margin: 0;
    font-size: large;
}

.extension-text {
   margin: 0;
    font-size: medium;
    font-weight: lighter;
}

.extension-handlers-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.remove-extension {
    appearance: none;
    cursor: pointer;
    padding: .5rem .8rem;
    border: 1px solid var(--neutral-200);
    background-color: var(--neutral-0);
    border-radius: 1rem;
    font-size: medium;
    transition: background-color ease .4s;
}

.dark-mode .remove-extension{
    background-color: var(--neutral-800);
    color: var(--neutral-0);
    border-color: var(--neutral-600);
}

.remove-extension:hover{
    background-color: var(--red-700);
    color: var(--neutral-100);
}
.switch {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 3.5rem;
    height: 2rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

.slider {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
    height: 100%;
    background-color: lightgray;
    transition: .4s;
    border-radius: .95rem;
    cursor: pointer;
}

.slider::before {
    content: "";
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    margin-left: .2rem;
}

.switch input:hover + .slider {
    background-color: gray;
}

.switch input:checked:hover + .slider {
    background-color: var(--red-500);
}

.switch input:checked + .slider {
    background-color: var(--red-700);
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px var(--red-700);
}

.switch input:checked + .slider::before {
    transform: translateX(1.5rem);
}

footer {
    position: page;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}


a {
text-decoration: none;
    color: black;
    transition: color .4s ease;
}

.dark-mode a{
    color: var(--neutral-100);
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.dark-mode a:hover{
    color: darkturquoise;
}